.main-content{
  display: flex;
  width: 100%;
}
.content-Wrapper{
  width: 100%;
  position: relative;
  top: 75px;
}
.screenNav{
  height: 30px;
  padding: 4px !important;
  padding-right: 0;
  text-align: center;
  font-style: Georgia;
  font-size: 14px;
}