.Header label{
  font-size: 12px;
}
.Header .form-select {
  font-size: 11px;
}
.Header input{
  font-size: 11px;
}
.go2150698616{
  border-bottom: 6px solid #33C3F0 !important;
  display: inline-block;
  text-align: center;
  line-height: 4.6rem !important;
  padding: 0 1rem !important;
  cursor: pointer;
  min-width: 33% !important;
}
.card-body {
  
  background: #00000014;
}
.column-info{
  width: 1500px;
  overflow-x: scroll;
}
.switch-group{
  background: #fff;
}
.switch-handle {

  background-color: #787a7a !important;
}